@import url('https://fonts.googleapis.com/css2?family=Alata&family=IBM+Plex+Mono:wght@400&family=Roboto:wght@400&display=swap');

* {
    margin: 0;
}

body {
	margin-left: 30px;
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

.content {
	width: 70%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
	line-height: 1.2;
	text-align: justify;
	color: #434343;
}

h1, h2, h3{
	padding: 8px;
	padding-left: 0;
	font-weight: 300;
	font-family: 'Alata', sans-serif;
}

h4, h5, h6 {
	padding: 4px;
	padding-left: 0;
	font-weight: normal;
	font-family: 'Alata', serif;
}

pre {
	color: #777;
	display: inline-block;
	width: 100%;
	font-family: 'IBM Plex Mono', monospace;
	padding: 10px;
	background-color: #eee;
	overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
	text-align: left;
}

hr {
	width: 70%;
}
